<% include head.ejs %>
<title><%= data.question %></title>
<h1>
  <%= data.question %>
</h1>
<form action="/<%= data.id %>" method=post enctype=application/x-www-form-urlencoded>
  <% data.answers.forEach(function (answer) { %>
      <input type="radio" name="answer" value="<%= answer %>"><%= answer %></input>
  <% }) %>
  <button
    id=js-answer
    data-id="<%= data.id %>"
    class=success
  >
    next
  </button>
</form>
<p>
  <a href="/">
    Back to list
  </a>
</p>
<% include tail.ejs %>
